.shop-image {
    background: url(/image/contact-img-1.jpg) !important;
 
   
  }

  .btn-text-are{
      margin-top: -2rem !important;
  }

  .text-succes-error{
      display:none ;
  }
  .absoluty-play {
    transform: translate(282% , -263%);
    position: absolute;
    top: auto;
    left: auto;
    font-size: 29px;
    background: #fff;
    color: #c74817;
    width: 111px;
    height: 97px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.close-iframe-icon {
    position: absolute;
    top: 5.5rem;
    right: 0rem;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
}
.iframe-page-inner {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
  @media (max-width:1140px){
    .container {
        width: 100%;   
    }
    .shop-image{
        background-position: center 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .col-2 {
        flex-basis: 100%;
        width: 100%;
    }
    img.beehive {
        width: 833px;
        height: 468px;
    }
    .absoluty-play {
        transform: translate(282% , -263%);
        position: absolute;
        /* top: 19%; */
        /* left: 32%; */
        font-size: 29px;
        background: #fff;
        color: #c74817;
        width: 111px;
        height: 97px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s ease-in-out;
        cursor: pointer;
    }
    h3 {
        font-size: 29px;
        text-align: center;
    }
    .inner-row {
        display: flex;
        margin-top: 40px;
        flex-direction: column;
    }
    .cart-input {
        width: 100%;
    }
    .col-body {
        width: 52rem;
        margin-left: auto;
        margin-right: auto;
    }
    .iframe-page-inner {
        position: relative;
        width: 88%;
        margin-left: auto;
        margin-right: auto;
    }
    iframe {
        width: 100%;
    }
    .close-iframe-icon {
        position: absolute;
        top: 6rem;
        /* left: 60rem; */
        right: 0rem;
        font-size: 26px;
        color: #fff;
        cursor: pointer;
    }
}
@media (max-width:992px){
    
    img.beehive {
        width: 643px;
        height: 434px;
    }
    .absoluty-play {
        transform: translate(50% , 50%);
        position: absolute;
        top: 10%;
        left: 42%;
        font-size: 27px;
        width: 90px;
    height: 67px;
    }   
    iframe {
        width: 100%;
    }
    .inner-row {
        width: 112%;
    }
    .absoluty-play:hover {
        width: 100px;
        height: 71px;
    }
    .close-iframe-icon {
    top: 10%;
    left: 86%;
}
iframe {
    width: 90%;
}
}
@media(max-width:768px){
  
    img.beehive {
        width: 496px;
        height: 389px;
    }
    .absoluty-play {
        transform: translate(16% , 110%);
        position: absolute;
        /* top: 11%; */
        /* left: 41%; */
        font-size: 23px;
        width: 78px;
        height: 55px;
    }
    .absoluty-play:hover {
        width: 84px;
        height: 62px;
    }
    p.inner-info {
        width: 30rem;
        font-size: 13px;
        /* text-align: center; */
        margin-left: auto;
        margin-right: auto;
    }
    h3 {
        font-size: 20px;
        text-align: center;
    }
    .col-body {
        width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }
    .inner-row {
        width: 100%;
    }
    iframe {
        width: 87%;
    }
    .close-iframe-icon {
        top: 23%;
        left: 85%;
        font-size: 22px;
    }
}
@media(max-width:576px){
    .col-body {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    img.beehive {
        width: 100%;
        height: 357px;
    }
   
    img.logo {
        width: 11rem;
    }
    p.inner-info {
        width: 100%;
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
    }
    .absoluty-play {
      
        width: 67px;
        height: 49px;
    }
    .absoluty-play:hover {
        width: 74px;
        height: 52px;
    }
    h3 {
        font-size: 18px;
        text-align: center;
    }
    .inner-row {
        width: 100%;
    }
    .cart-input {
        font-size: 13px;

    }
    button.btn {
        font-size: 13px;
        padding: 9px 11px;
    }
    .iframe-page-inner {
        position: relative;
        width: 25rem;
    }
    .iframe-page {
        transform: translate(-4%,5%);
        /* left: -100px; */
        /* text-align: center; */
        /* top: -100px; */
        width: 100%;
        height: 150%;
        overflow: hidden;
    }
    
    
}
