.shop-image {
    background: url(/image/contact-img-1.jpg) !important;
 
   
  }

  .btn-text-are{
      margin-top: -2rem !important;
  }

  .text-succes-error{
      display:none ;
  }

  @media (max-width:1200px){
    .container {
        width: 100%;   
    }
    .shop-image{
        background-position: center 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .col-2 {
        flex-basis: 100%;
        width: 100%;
    }
    img.beehive {
        width: 833px;
        height: 468px;
    }
    .absoluty-play {
        transform: translate(50% , 50%);
        position: absolute;
        top: 12%;
        left: 42%;
        font-size: 27px;
 
    }
    h3 {
        font-size: 29px;
        text-align: center;
    }
    .inner-row {
        display: flex;
        margin-top: 40px;
        flex-direction: column;
    }
    .cart-input {
        width: 100%;
    }
    .col-body {
        width: 35rem;
        margin-left: auto;
        margin-right: auto;
    }
  
}
@media (max-width:992px){
    
    img.beehive {
        width: 643px;
        height: 434px;
    }
    .absoluty-play {
        transform: translate(50% , 50%);
        position: absolute;
        top: 10%;
        left: 42%;
        font-size: 27px;
        width: 90px;
    height: 67px;
    }   
    iframe {
        width: 100%;
    }
    .inner-row {
        width: 112%;
    }
    .absoluty-play:hover {
        width: 100px;
        height: 71px;
    }
}
@media(max-width:768px){
  
    img.beehive {
        width: 496px;
        height: 389px;
    }
    .absoluty-play {
        transform: translate(50% , 50%);
        position: absolute;
        top: 11%;
        left: 41%;
        font-size: 23px;
        width: 78px;
        height: 55px;
    }
    .absoluty-play:hover {
        width: 84px;
        height: 62px;
    }
    p.inner-info {
        width: 30rem;
        font-size: 13px;
        /* text-align: center; */
        margin-left: auto;
        margin-right: auto;
    }
    h3 {
        font-size: 20px;
        text-align: center;
    }
}
@media(max-width:576px){
    .col-body {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    img.beehive {
        width: 100%;
        height: 357px;
    }
   
    img.logo {
        width: 11rem;
    }
    p.inner-info {
        width: 100%;
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
    }
    .absoluty-play {
      
        width: 67px;
        height: 49px;
    }
    .absoluty-play:hover {
        width: 74px;
        height: 52px;
    }
    h3 {
        font-size: 18px;
        text-align: center;
    }
    .inner-row {
        width: 100%;
    }
    .cart-input {
        font-size: 13px;

    }
    button.btn {
        font-size: 13px;
        padding: 9px 11px;
    }
}
